%ion-header-bar.bar-positive
  %h1.title Yoga In Your Park
%ion-content.padding
  %a.button.button-block{"ng-click": 'new()'} New Episode
  .list
    %a.item.item-icon-left{'ng-repeat': "episode in podcast.episodes | orderByEpisode" , 'ng-click': 'go(episode.slug)'}
      %i.icon{'ng-if': '!episode.published_at'}
      %i.icon.ion-ios-people.balanced{'ng-if': 'episode.published_at'}
      <%episode.title%>
