!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width", name: "viewport"}
    %style
      :plain
        body
        {
          padding: 20px;
        }
  %body
    %h1
      Beta App
    %p
      This app is currently under development. For problems or questions, please contact 
      %a{href: 'mailto:ben@benallfree.com'} ben@benallfree.com
      =" "
      for assistance.
    %p
      %i I understand that this app may lose data or quit unexpectedly. I won't lose my shit if that happens.
    %button{onclick: "document.location='index.html'"} Agree & Proceed to Application
