%ion-view{'view-title': 'Boilerplate App'}
  %ion-nav-buttons{side: "left"}
    %button.button.button-icon.button-clear.ion-navicon{"ng-click": "toggleLeft()"}          
  %ion-content.padding
    This is a little sumpin' we call an app!
